@import 'generals';

.mobile-nav {
  position: relative;
  background: #fff;
  padding: 0 1rem;
  z-index: 100;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: $line;
  
  .nav-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        font-family: 'Comico';
        font-size: 20px;
    }
  }

  .burger {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .ham {
    cursor: pointer;
    transition: transform 400ms;
    user-select: none;

    .line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke: #000;
      stroke-width: 5.5;
      stroke-linecap: round;
    }

    &.ham6 {
        height: 40px;
        width: auto;
      .top {
        stroke-dasharray: 40 172;
      }
      .middle {
        stroke-dasharray: 40 111;
      }
      .bottom {
        stroke-dasharray: 40 172;
      }

      &.active {
        .top {
          stroke-dashoffset: -132px;
        }
        .middle {
          stroke-dashoffset: -71px;
        }
        .bottom {
          stroke-dashoffset: -132px;
        }
      }
    }
  }

  .mobile-menu {
    position: fixed;
    background: $light;
    top: 49px;
    right: -100%;
    width: 100%;
    max-width: 372px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    transition: right 0.6s ease-in-out;
    height: 100%;
    z-index: 90;
    .inner {
        width: 100%;
        height: 100%;
        position:relative;
        .navi-element {
            padding: 20px 0;
            position: relative;
            &:after {
                content: '';
                height: 1px;
                right: 0;
                position: absolute;
                bottom: 0;
                width: 0px;
                background: rgba($dark, .7);
                transition: 2s;
            }
        }
        &:after {
            content: '';
            height: 0;
            right: 0;
            position: absolute;
            top: 0;
            width: 1px;
            background: rgba($dark, .7);
            transition: 2s;
        }
    }

    &.open {
      right: 0;
      .inner {
          &:after {
            height: 100%;
          }
          .navi-element {
            &:after {
                width: 100%;
            }
          }
      }
    }

    a {
      font-size: 1.2rem;
      color: #000;
      text-decoration: none;
    }
  }
}

