.grid-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1584px;
  gap: 36px;
}

@media (min-width: 360px) {
  .col-xxs-1 {
    width: calc((100% - 11 * 36px) / 12 * 1 + (0) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 360px) {
  .col-xxs-2 {
    width: calc((100% - 11 * 36px) / 12 * 2 + (1) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 360px) {
  .col-xxs-3 {
    width: calc((100% - 11 * 36px) / 12 * 3 + (2) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 360px) {
  .col-xxs-4 {
    width: calc((100% - 11 * 36px) / 12 * 4 + (3) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 360px) {
  .col-xxs-5 {
    width: calc((100% - 11 * 36px) / 12 * 5 + (4) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 360px) {
  .col-xxs-6 {
    width: calc((100% - 11 * 36px) / 12 * 6 + (5) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 360px) {
  .col-xxs-7 {
    width: calc((100% - 11 * 36px) / 12 * 7 + (6) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 360px) {
  .col-xxs-8 {
    width: calc((100% - 11 * 36px) / 12 * 8 + (7) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 360px) {
  .col-xxs-9 {
    width: calc((100% - 11 * 36px) / 12 * 9 + (8) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 360px) {
  .col-xxs-10 {
    width: calc((100% - 11 * 36px) / 12 * 10 + (9) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 360px) {
  .col-xxs-11 {
    width: calc((100% - 11 * 36px) / 12 * 11 + (10) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 360px) {
  .col-xxs-12 {
    width: calc((100% - 11 * 36px) / 12 * 12 + (11) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 480px) {
  .col-xs-1 {
    width: calc((100% - 11 * 36px) / 12 * 1 + (0) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 480px) {
  .col-xs-2 {
    width: calc((100% - 11 * 36px) / 12 * 2 + (1) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 480px) {
  .col-xs-3 {
    width: calc((100% - 11 * 36px) / 12 * 3 + (2) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 480px) {
  .col-xs-4 {
    width: calc((100% - 11 * 36px) / 12 * 4 + (3) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 480px) {
  .col-xs-5 {
    width: calc((100% - 11 * 36px) / 12 * 5 + (4) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 480px) {
  .col-xs-6 {
    width: calc((100% - 11 * 36px) / 12 * 6 + (5) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 480px) {
  .col-xs-7 {
    width: calc((100% - 11 * 36px) / 12 * 7 + (6) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 480px) {
  .col-xs-8 {
    width: calc((100% - 11 * 36px) / 12 * 8 + (7) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 480px) {
  .col-xs-9 {
    width: calc((100% - 11 * 36px) / 12 * 9 + (8) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 480px) {
  .col-xs-10 {
    width: calc((100% - 11 * 36px) / 12 * 10 + (9) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 480px) {
  .col-xs-11 {
    width: calc((100% - 11 * 36px) / 12 * 11 + (10) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 480px) {
  .col-xs-12 {
    width: calc((100% - 11 * 36px) / 12 * 12 + (11) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 768px) {
  .col-sm-1 {
    width: calc((100% - 11 * 36px) / 12 * 1 + (0) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 768px) {
  .col-sm-2 {
    width: calc((100% - 11 * 36px) / 12 * 2 + (1) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 768px) {
  .col-sm-3 {
    width: calc((100% - 11 * 36px) / 12 * 3 + (2) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 768px) {
  .col-sm-4 {
    width: calc((100% - 11 * 36px) / 12 * 4 + (3) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 768px) {
  .col-sm-5 {
    width: calc((100% - 11 * 36px) / 12 * 5 + (4) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 768px) {
  .col-sm-6 {
    width: calc((100% - 11 * 36px) / 12 * 6 + (5) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 768px) {
  .col-sm-7 {
    width: calc((100% - 11 * 36px) / 12 * 7 + (6) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 768px) {
  .col-sm-8 {
    width: calc((100% - 11 * 36px) / 12 * 8 + (7) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 768px) {
  .col-sm-9 {
    width: calc((100% - 11 * 36px) / 12 * 9 + (8) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 768px) {
  .col-sm-10 {
    width: calc((100% - 11 * 36px) / 12 * 10 + (9) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 768px) {
  .col-sm-11 {
    width: calc((100% - 11 * 36px) / 12 * 11 + (10) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 768px) {
  .col-sm-12 {
    width: calc((100% - 11 * 36px) / 12 * 12 + (11) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1024px) {
  .col-md-1 {
    width: calc((100% - 11 * 36px) / 12 * 1 + (0) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1024px) {
  .col-md-2 {
    width: calc((100% - 11 * 36px) / 12 * 2 + (1) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1024px) {
  .col-md-3 {
    width: calc((100% - 11 * 36px) / 12 * 3 + (2) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1024px) {
  .col-md-4 {
    width: calc((100% - 11 * 36px) / 12 * 4 + (3) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1024px) {
  .col-md-5 {
    width: calc((100% - 11 * 36px) / 12 * 5 + (4) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1024px) {
  .col-md-6 {
    width: calc((100% - 11 * 36px) / 12 * 6 + (5) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1024px) {
  .col-md-7 {
    width: calc((100% - 11 * 36px) / 12 * 7 + (6) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1024px) {
  .col-md-8 {
    width: calc((100% - 11 * 36px) / 12 * 8 + (7) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1024px) {
  .col-md-9 {
    width: calc((100% - 11 * 36px) / 12 * 9 + (8) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1024px) {
  .col-md-10 {
    width: calc((100% - 11 * 36px) / 12 * 10 + (9) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1024px) {
  .col-md-11 {
    width: calc((100% - 11 * 36px) / 12 * 11 + (10) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1024px) {
  .col-md-12 {
    width: calc((100% - 11 * 36px) / 12 * 12 + (11) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1280px) {
  .col-lg-1 {
    width: calc((100% - 11 * 36px) / 12 * 1 + (0) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1280px) {
  .col-lg-2 {
    width: calc((100% - 11 * 36px) / 12 * 2 + (1) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1280px) {
  .col-lg-3 {
    width: calc((100% - 11 * 36px) / 12 * 3 + (2) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1280px) {
  .col-lg-4 {
    width: calc((100% - 11 * 36px) / 12 * 4 + (3) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1280px) {
  .col-lg-5 {
    width: calc((100% - 11 * 36px) / 12 * 5 + (4) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1280px) {
  .col-lg-6 {
    width: calc((100% - 11 * 36px) / 12 * 6 + (5) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1280px) {
  .col-lg-7 {
    width: calc((100% - 11 * 36px) / 12 * 7 + (6) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1280px) {
  .col-lg-8 {
    width: calc((100% - 11 * 36px) / 12 * 8 + (7) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1280px) {
  .col-lg-9 {
    width: calc((100% - 11 * 36px) / 12 * 9 + (8) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1280px) {
  .col-lg-10 {
    width: calc((100% - 11 * 36px) / 12 * 10 + (9) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1280px) {
  .col-lg-11 {
    width: calc((100% - 11 * 36px) / 12 * 11 + (10) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1280px) {
  .col-lg-12 {
    width: calc((100% - 11 * 36px) / 12 * 12 + (11) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1584px) {
  .col-xl-1 {
    width: calc((100% - 11 * 36px) / 12 * 1 + (0) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1584px) {
  .col-xl-2 {
    width: calc((100% - 11 * 36px) / 12 * 2 + (1) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1584px) {
  .col-xl-3 {
    width: calc((100% - 11 * 36px) / 12 * 3 + (2) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1584px) {
  .col-xl-4 {
    width: calc((100% - 11 * 36px) / 12 * 4 + (3) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1584px) {
  .col-xl-5 {
    width: calc((100% - 11 * 36px) / 12 * 5 + (4) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1584px) {
  .col-xl-6 {
    width: calc((100% - 11 * 36px) / 12 * 6 + (5) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1584px) {
  .col-xl-7 {
    width: calc((100% - 11 * 36px) / 12 * 7 + (6) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1584px) {
  .col-xl-8 {
    width: calc((100% - 11 * 36px) / 12 * 8 + (7) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1584px) {
  .col-xl-9 {
    width: calc((100% - 11 * 36px) / 12 * 9 + (8) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1584px) {
  .col-xl-10 {
    width: calc((100% - 11 * 36px) / 12 * 10 + (9) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1584px) {
  .col-xl-11 {
    width: calc((100% - 11 * 36px) / 12 * 11 + (10) * 36px);
    flex: 0 0 auto;
  }
}

@media (min-width: 1584px) {
  .col-xl-12 {
    width: calc((100% - 11 * 36px) / 12 * 12 + (11) * 36px);
    flex: 0 0 auto;
  }
}

@font-face {
  font-family: "Sora";
  src: url("../fonts/sora-light.woff2") format("woff2"), url("../fonts/sora-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora";
  src: url("../fonts/sora-regular.woff2") format("woff2"), url("../fonts/sora-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora";
  src: url("../fonts/sora-bold.woff2") format("woff2"), url("../fonts/sora-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comico";
  src: url("../fonts/comico-regular.woff2") format("woff2"), url("../fonts/comico-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fff;
  color: #111;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fff;
  color: #111;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.mobile-nav {
  position: relative;
  background: #fff;
  padding: 0 1rem;
  z-index: 100;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(31, 31, 31, 0.7);
}
.mobile-nav .nav-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav .nav-inner .logo {
  font-family: "Comico";
  font-size: 20px;
}
.mobile-nav .burger {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.mobile-nav .ham {
  cursor: pointer;
  transition: transform 400ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.mobile-nav .ham .line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.mobile-nav .ham.ham6 {
  height: 40px;
  width: auto;
}
.mobile-nav .ham.ham6 .top {
  stroke-dasharray: 40 172;
}
.mobile-nav .ham.ham6 .middle {
  stroke-dasharray: 40 111;
}
.mobile-nav .ham.ham6 .bottom {
  stroke-dasharray: 40 172;
}
.mobile-nav .ham.ham6.active .top {
  stroke-dashoffset: -132px;
}
.mobile-nav .ham.ham6.active .middle {
  stroke-dashoffset: -71px;
}
.mobile-nav .ham.ham6.active .bottom {
  stroke-dashoffset: -132px;
}
.mobile-nav .mobile-menu {
  position: fixed;
  background: #fff;
  bottom: 0;
  right: -100%;
  height: calc(100vh - 49px);
  width: 100%;
  max-width: 372px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  transition: right 0.4s ease;
  z-index: 90;
}
.mobile-nav .mobile-menu .inner {
  width: 100%;
  height: 100%;
  position: relative;
}
.mobile-nav .mobile-menu .inner .navi-element {
  padding: 20px 0;
  position: relative;
}
.mobile-nav .mobile-menu .inner .navi-element:after {
  content: "";
  height: 1px;
  right: 0;
  position: absolute;
  bottom: 0;
  width: 0px;
  background: rgba(31, 31, 31, 0.7);
  transition: 2s;
}
.mobile-nav .mobile-menu .inner:after {
  content: "";
  height: 0;
  right: 0;
  position: absolute;
  top: 0;
  width: 1px;
  background: rgba(31, 31, 31, 0.7);
  transition: 2s;
}
.mobile-nav .mobile-menu.open {
  right: 0;
}
.mobile-nav .mobile-menu.open .inner:after {
  height: 100%;
}
.mobile-nav .mobile-menu.open .inner .navi-element:after {
  width: 100%;
}
.mobile-nav .mobile-menu a {
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */