.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -18px;
  margin-right: -18px;
  max-width: 1584px;
  margin-inline: auto;
}

.col {
  padding-left: 18px;
  padding-right: 18px;
  box-sizing: border-box;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 360px) {
  .xxs-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 480px) {
  .xs-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 768px) {
  .sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 1024px) {
  .md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 1280px) {
  .lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 1584px) {
  .xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
}

@media (min-width: 360px) {
  .xxs-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 480px) {
  .xs-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 768px) {
  .sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 1024px) {
  .md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 1280px) {
  .lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 1584px) {
  .xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
}

@media (min-width: 360px) {
  .xxs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 480px) {
  .xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 768px) {
  .sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 1024px) {
  .md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 1280px) {
  .lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 1584px) {
  .xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 360px) {
  .xxs-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 480px) {
  .xs-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 768px) {
  .sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 1024px) {
  .md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 1280px) {
  .lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 1584px) {
  .xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 360px) {
  .xxs-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 480px) {
  .xs-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 768px) {
  .sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 1024px) {
  .md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 1280px) {
  .lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 1584px) {
  .xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}

@media (min-width: 360px) {
  .xxs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 480px) {
  .xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1024px) {
  .md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1280px) {
  .lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1584px) {
  .xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 360px) {
  .xxs-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 480px) {
  .xs-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 768px) {
  .sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 1024px) {
  .md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 1280px) {
  .lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 1584px) {
  .xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}

@media (min-width: 360px) {
  .xxs-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 480px) {
  .xs-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 768px) {
  .sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 1024px) {
  .md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 1280px) {
  .lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 1584px) {
  .xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media (min-width: 360px) {
  .xxs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 480px) {
  .xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 768px) {
  .sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 1024px) {
  .md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 1280px) {
  .lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 1584px) {
  .xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

@media (min-width: 360px) {
  .xxs-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 480px) {
  .xs-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 768px) {
  .sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 1024px) {
  .md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 1280px) {
  .lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 1584px) {
  .xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
}

@media (min-width: 360px) {
  .xxs-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 480px) {
  .xs-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 768px) {
  .sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 1024px) {
  .md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 1280px) {
  .lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 1584px) {
  .xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
}

@media (min-width: 360px) {
  .xxs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 480px) {
  .xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1280px) {
  .lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1584px) {
  .xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@font-face {
  font-family: "Sora";
  src: url("../fonts/sora-light.woff2") format("woff2"), url("../fonts/sora-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora";
  src: url("../fonts/sora-regular.woff2") format("woff2"), url("../fonts/sora-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sora";
  src: url("../fonts/sora-bold.woff2") format("woff2"), url("../fonts/sora-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fff;
  color: #111;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

html, body {
  height: 100%;
  overscroll-behavior: none; /* verhindert Rubber-Banding/Scroll-Chaining */
}

@media (max-width: 1023px) {
  .lp-col {
    overflow-x: clip;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    will-change: transform;
    transform: translateZ(0);
  }
  .lp-col .landing-page-text {
    display: flex;
  }
  .lp-col .landing-page-text .txt-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
  }
  .lp-col .landing-page-text .txt-container:after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% + 36px);
    background: #E4D2FF;
    bottom: 198px;
    left: -18px;
  }
  .lp-col .landing-page-text .txt-container .letter {
    display: inline-block;
    transition: transform 0.5s ease;
    cursor: pointer;
  }
  .lp-col .landing-page-text .txt-container .tp {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    padding-left: 20%;
    padding-bottom: 57px;
    text-align: right;
  }
  .lp-col .landing-page-text .txt-container .tp .letters {
    padding-bottom: 163px;
    position: relative;
  }
  .lp-col .landing-page-text .txt-container .tp .letters::after {
    content: "";
    position: absolute;
    bottom: 162px;
    width: 500px;
    height: 1px;
    background: #E4D2FF;
    left: 9px;
  }
  .lp-col .landing-page-text .txt-container .tp .letters-2 {
    position: relative;
  }
  .lp-col .landing-page-text .txt-container .tp .letters-2::after {
    content: "";
    position: absolute;
    bottom: 214px;
    width: 214px;
    height: 1px;
    background: #E4D2FF;
    right: -7px;
  }
  .lp-col .landing-page-text .txt-container .tp .letters-2::before {
    content: "";
    position: absolute;
    top: 122px;
    width: 1px;
    height: 310px;
    background: #E4D2FF;
    right: 42px;
  }
  .lp-col .landing-page-text .txt-container .gd {
    text-align: right;
    padding-top: 98px;
    margin-right: 4%;
  }
  .lp-col .landing-page-text .txt-container .gd .letters {
    position: relative;
  }
  .lp-col .landing-page-text .txt-container .gd .letters::after {
    content: "";
    position: absolute;
    bottom: 45px;
    width: 400px;
    height: 1px;
    background: #E4D2FF;
    right: 1px;
  }
  .lp-col .landing-page-text .txt-container .gd .letters-2 {
    position: relative;
    right: -2px;
    padding-bottom: 60px;
  }
  .lp-col .landing-page-text .txt-container .gd .letters-2::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 1px;
    height: 380px;
    background: #E4D2FF;
    right: 3px;
  }
  .lp-col .landing-page-text .txt-container.second {
    width: 20%;
  }
  .lp-col .landing-page-text .txt-container.second .po {
    writing-mode: vertical-rl;
    padding-top: 268px;
  }
  .lp-col .landing-page-text .txt-container.second .po .letters {
    position: relative;
  }
  .lp-col .landing-page-text .txt-container.second .po .letters::after {
    content: "";
    position: absolute;
    top: 3px;
    width: 1px;
    height: 606px;
    background: #E4D2FF;
    right: 42px;
  }
  .lp-col .landing-page-text .txt-container.second .yr {
    margin-top: 78px;
    padding-bottom: 200px;
    position: relative;
  }
  .lp-col .landing-page-text .txt-container.second .yr .letters {
    position: absolute;
    top: -3px;
    left: -175px;
    width: 140px;
  }
  .lp-col .my-work {
    width: 20%;
    margin-left: auto;
    position: relative;
    padding-bottom: 140px;
  }
  .lp-col .my-work .link-container {
    text-align: right;
    position: absolute;
    right: 47px;
    width: 263px;
    top: 0;
  }
  .lp-col .my-work .link-container .arrow {
    position: absolute;
    top: -240px;
    left: -10px;
    height: 210px;
    transition: 0.3s ease-in-out;
  }
  .lp-col .my-work .link-container:hover .arrow {
    transform: rotate(20deg);
  }
  .lp-col .my-work .link-container .work-link {
    position: relative;
    text-decoration: none;
  }
  .lp-col .my-work .link-container .work-link:after {
    position: absolute;
    content: "";
    width: calc(100% + 10px);
    left: -5px;
    height: 20px;
    bottom: 8px;
    background: #B17AFD;
    z-index: -1;
    transition: 0.3s;
  }
  .lp-col .my-work .link-container .work-link:hover:after {
    height: 6px;
  }
}
@media (max-width: 1023px) and (min-width: 480px) {
  .lp-col {
    font-size: 70px;
    line-height: 70px;
  }
  .lp-col .landing-page-text .txt-container .tp .letters-2::before {
    height: 370px;
    right: 60px;
    top: 105px;
  }
  .lp-col .landing-page-text .txt-container .tp .letters-2::after {
    bottom: 299px;
    width: 400px;
    right: -11px;
  }
  .lp-col .landing-page-text .txt-container .gd {
    margin-right: 2%;
    padding-top: 186px;
  }
  .lp-col .landing-page-text .txt-container .gd .letters:after {
    bottom: 63.5px;
    right: 2px;
    width: 700px;
  }
  .lp-col .landing-page-text .txt-container .gd .letters-2:after {
    right: 4px;
    bottom: -8px;
    height: 500px;
  }
  .lp-col .landing-page-text .txt-container.second .po {
    padding-top: 353px;
  }
  .lp-col .landing-page-text .txt-container.second .po .letters::after {
    right: 60px;
    height: 800px;
  }
  .lp-col .landing-page-text .txt-container.second .yr .letters {
    width: 190px;
    top: -4px;
    left: -246px;
  }
  .lp-col .my-work {
    padding-bottom: 180px;
  }
  .lp-col .my-work .link-container {
    width: 367px;
    right: 65px;
    top: 30px;
  }
  .lp-col .my-work .link-container .work-link:after {
    height: 32px;
  }
  .lp-col .my-work .link-container .work-link:hover:after {
    height: 10px;
  }
}
@media (max-width: 1023px) and (min-width: 600px) {
  .lp-col .landing-page-text .txt-container {
    width: 65%;
  }
  .lp-col .landing-page-text .txt-container:after {
    width: 170%;
  }
  .lp-col .landing-page-text .txt-container.second {
    width: 35%;
    padding-right: 86px;
  }
  .lp-col .landing-page-text .txt-container .tp .letters-2::after {
    width: 800px;
  }
  .lp-col .my-work .link-container {
    right: 151px;
  }
  .lp-col .my-work .link-container .arrow {
    top: -300px;
    left: -50px;
    height: 280px;
  }
}
@media (max-width: 1023px) and (min-width: 768px) {
  .lp-col {
    font-size: 90px;
    line-height: 90px;
  }
  .lp-col .landing-page-text .txt-container .tp .letters:after {
    left: 15px;
  }
  .lp-col .landing-page-text .txt-container .tp .letters-2 {
    top: 30px;
  }
  .lp-col .landing-page-text .txt-container .tp .letters-2:before {
    height: 416px;
    right: 76px;
    top: 91px;
  }
  .lp-col .landing-page-text .txt-container .tp .letters-2:after {
    bottom: 384px;
    width: 650px;
    right: -14px;
  }
  .lp-col .landing-page-text .txt-container .gd {
    padding-top: 160px;
  }
  .lp-col .landing-page-text .txt-container .gd .letters::after {
    bottom: 81.5px;
  }
  .lp-col .landing-page-text .txt-container .gd .letters-2 {
    right: -4px;
  }
  .lp-col .landing-page-text .txt-container .gd .letters-2:after {
    right: 6px;
    bottom: -97px;
    height: 619px;
  }
  .lp-col .landing-page-text .txt-container.second .po {
    padding-top: 405px;
  }
  .lp-col .landing-page-text .txt-container.second .po .letters::after {
    right: 76px;
    top: 6px;
    height: 920px;
  }
  .lp-col .landing-page-text .txt-container.second .yr .letters {
    width: 260px;
    top: -6px;
    left: -315px;
  }
  .lp-col .my-work .link-container {
    width: 500px;
    top: 9px;
    right: 168px;
  }
}
@media (min-width: 1024px) {
  .lp-col {
    overflow-x: clip;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    position: relative;
  }
  .lp-col:after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% + 26px);
    height: 100vh;
    width: 1px;
    background-color: #E4D2FF;
    z-index: -2;
  }
  .lp-col .letters, .lp-col .letters-2 {
    display: inline;
  }
  .lp-col .letter {
    display: inline-block;
    transition: transform 0.5s ease;
  }
  .lp-col .landing-page-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .lp-col .landing-page-text .tp {
    position: relative;
    left: 119px;
    padding-top: 136px;
  }
  .lp-col .landing-page-text .tp:after {
    content: "";
    position: absolute;
  }
  .lp-col .landing-page-text .gd {
    position: relative;
    right: 35px;
    padding: 30px 0;
  }
  .lp-col .landing-page-text .po {
    position: relative;
    left: 168px;
  }
  .lp-col .landing-page-text .yr {
    position: absolute;
    left: 0;
    bottom: -174px;
    writing-mode: sideways-lr;
  }
  .lp-col .my-work {
    position: relative;
    display: flex;
    justify-content: center;
    left: 199px;
    padding: 100px 0 75px;
  }
  .lp-col .my-work img {
    display: none;
  }
  .lp-col .my-work .link-container .work-link {
    position: relative;
    text-decoration: none;
    transition: 0.3s;
  }
  .lp-col .my-work .link-container .work-link:after {
    position: absolute;
    content: "";
    width: calc(100% + 40px);
    left: -20px;
    height: 40px;
    bottom: 17px;
    background: #B17AFD;
    z-index: -1;
    transition: 0.3s;
  }
  .lp-col .my-work .link-container .work-link:hover {
    color: #B17AFD;
  }
  .lp-col .my-work .link-container .work-link:hover:after {
    height: 6px;
  }
}
@media (min-width: 1280px) {
  .lp-col {
    font-size: 115px;
    line-height: 115px;
  }
  .lp-col .landing-page-text:before {
    bottom: 103px;
  }
  .lp-col .landing-page-text .tp {
    padding-top: 123px;
    left: 236px;
  }
  .lp-col .landing-page-text .gd {
    right: 44px;
  }
  .lp-col .landing-page-text .yr {
    bottom: -200px;
    left: 3%;
  }
}
@media (min-width: 1584px) {
  .lp-col {
    font-size: 140px;
    line-height: 140px;
  }
  .lp-col:after {
    left: calc(50% - 96px);
  }
  .lp-col .landing-page-text:before {
    bottom: 126px;
  }
  .lp-col .landing-page-text .tp {
    padding-top: 103px;
    left: 241px;
  }
  .lp-col .landing-page-text .po {
    left: 318px;
  }
  .lp-col .landing-page-text .gd {
    right: 18px;
  }
  .lp-col .landing-page-text .yr {
    bottom: -244px;
    left: 106px;
  }
  .lp-col .my-work {
    left: 260px;
  }
}

@media (min-width: 1024px) {
  .landing-page-wrapper {
    position: relative;
  }
  .landing-page-wrapper:after {
    content: "";
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #E4D2FF;
    top: 220px;
    z-index: -1;
  }
  .landing-page-wrapper:before {
    content: "";
    position: absolute;
    left: 0px;
    width: 100%;
    height: 1px;
    background: #E4D2FF;
    bottom: 365px;
    z-index: -1;
  }
}
@media (min-width: 1280px) {
  .landing-page-wrapper:before {
    bottom: 393px;
  }
}
@media (min-width: 1584px) {
  .landing-page-wrapper:before {
    bottom: 441px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fff;
  color: #111;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100px) rotate(-10deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotate(-10deg);
  }
}
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0) rotate(-10deg);
  }
  to {
    opacity: 0;
    transform: translateX(-100px) rotate(-10deg);
  }
}
#nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}
#nav .navi-container .burger {
  cursor: pointer;
  position: relative;
  padding-bottom: 20px;
  z-index: 1001;
  background: #B17AFD;
  width: 70px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  transition: 0.3s ease;
}
#nav .navi-container .burger div {
  width: 20px;
  height: 1px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.3s ease;
  position: relative;
  top: 0;
}
#nav .navi-container .menu {
  position: fixed;
  top: 100px;
  left: -250px;
  height: 100vh;
  transition: left 0.3s ease;
  z-index: 1000;
}
#nav .navi-container .menu ul {
  display: flex;
  flex-direction: column;
}
#nav .navi-container .menu ul li {
  display: block;
  opacity: 0;
  transform: translateX(-100px) rotate(-10deg);
  animation: slideOut 0.5s ease forwards;
}
#nav .navi-container .menu ul li a {
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
  padding: 15px 40px;
  padding-left: 70px;
  text-transform: uppercase;
  color: #fff;
  background: #B17AFD;
  transition: 0.3s;
  position: relative;
}
#nav .navi-container .menu ul li a:hover {
  text-decoration: none;
  transform: scale(1.05);
  letter-spacing: 2px;
}
#nav .navi-container.open .burger {
  height: 70px;
  padding-bottom: 25px;
}
#nav .navi-container.open .burger .line-1 {
  transform: rotate(45deg);
  top: 7px;
}
#nav .navi-container.open .burger .line-2 {
  opacity: 0;
}
#nav .navi-container.open .burger .line-3 {
  transform: rotate(-45deg);
  top: -7px;
}
#nav .navi-container.open .menu {
  left: -40px;
}
#nav .navi-container.open .menu ul li {
  animation: slideIn 0.3s ease-in-out forwards;
}
#nav .navi-container.open .menu ul li:nth-child(1) {
  animation-delay: 0.1s;
}
#nav .navi-container.open .menu ul li:nth-child(2) {
  animation-delay: 0.15s;
}
#nav .navi-container.open .menu ul li:nth-child(3) {
  animation-delay: 0.2s;
}
#nav .navi-container.open .menu ul li:nth-child(4) {
  animation-delay: 0.25s;
}
#nav .navi-container.open .menu ul li:nth-child(5) {
  animation-delay: 0.3s;
}
#nav.scrolled .navi-container .burger {
  height: 70px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #fff;
  color: #111;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}/*# sourceMappingURL=styles.css.map */
