<nav class="mobile-nav">
  <div class="nav-inner">
    <div class="logo">Tarek Possiel</div>
    <button class="burger" id="burger-btn" aria-label="Menü öffnen">
      <svg class="ham ham6" viewBox="0 0 100 100" width="80">
        <path class="line top"
              d="m 30,33 h 40 c 13.1,0 14.4,31.8 6.9,33.4 -24.6,5.3 9,-52.3 -12.8,-30.6 l -28.3,28.3" />
        <path class="line middle"
              d="m 70,50 c 0,0 -32.2,0 -40,0 -7.8,0 -6.4,-4.6 -6.4,-8.6 0,-5.9 6.1,-11.8 12.3,-5.6 6.2,6.2 28.3,28.3 28.3,28.3" />
        <path class="line bottom"
              d="m 69.6,67.1 h -40 c -13.1,0 -14.4,-31.8 -6.9,-33.4 24.6,-5.3 -9,52.3 12.8,30.6 l 28.3,-28.3" />
      </svg>
    </button>
  </div>

  <div class="mobile-menu" id="mobile-menu">
    <div class="inner">
      <div class="navi-element">
        <div class="info-text">
          <p>Hello, my name is Tarek. <br>I create. <br> This is my Portfolio.</p>
        </div>

      </div>

    </div>
  </div>
</nav>